@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&family=Montserrat:wght@400;500;600;700&display=swap");

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3 {
  color: $darkBlue;
}

.margin-x {
  width: 75%;
  margin: auto;
  @include breakpoint-down(large) {
    width: 90%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background: $bodyBackground;
}

.nav-padding {
  padding-top: 8vh;
  @include breakpoint-down(small) {
    padding-top: 7vh;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}
