.nav {
  background-color: $lightBlue;

  position: fixed;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint-down(small) {
    height: 7vh;
  }

  &-wrapper {
    padding: 16px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
      flex: 1;
      display: flex;
      // justify-content: center;
      align-items: center;
      > a {
        > img {
          @include breakpoint-down(medium) {
            width: 80px;
          }
          @include breakpoint-down(small) {
            width: 50px;
            margin-top: 2px;
          }
        }
      }
    }
    &-search {
      flex: 4;
      display: flex;
      @include breakpoint-down(medium) {
        flex: 2;
        > input {
          font-size: 13px;
        }
      }
      > input {
        width: 100%;
        outline: none;
        border: none;
        padding-left: 20px;
        font-size: 16px;
        font-family: "Montserrat";
        @include breakpoint-down(small) {
          padding: 3px 0px;
          padding-left: 12px;
        }
      }

      &-button {
        cursor: pointer;
        background-color: $darkBlue;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 30px;
        > img {
          transition: all 250ms ease-in-out;
        }
        @include breakpoint-down(medium) {
          padding: 4px 20px;
          > img {
            width: 80%;
          }
        }
        @include breakpoint-down(small) {
          // display: none;
          padding-right: 10px;
          background-color: white;
        }
      }
      &-button:hover {
        > img {
          transform: rotate(-45deg);
        }
      }
    }
    &-cart {
      flex: 0.5;
      display: flex;
      justify-content: center;
      > a {
        text-decoration: none;
        color: $darkBlue;
        position: relative;
        > img {
          cursor: pointer;
          @include breakpoint-down(small) {
            width: 20px;
          }
        }

        .item-count {
          background-color: #d9d9d9;
          height: 20px;
          position: absolute;
          left: 20px;
          top: -7px;
          width: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          border-radius: 50%;
          transition: all 200ms ease-in-out;
          @include breakpoint-down(small) {
            left: 13px;
            height: 16px;
            width: 16px;
            font-size: 12px;
          }
        }
      }
    }
    &-cart > a:hover {
      .item-count {
        transform: translateY(-2px);
      }
    }
    &-loginButton {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      > a {
        text-decoration: none;
        cursor: pointer;
        background-color: $darkBlue;
        border: none;
        color: white;

        padding: 10px 45px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        border-radius: 4px;
        transition: all 250ms ease-in-out;
        @include breakpoint-down(medium) {
          padding: 5px 12px;
          font-size: 12px;
        }
      }
      > a:hover {
        opacity: 0.8;
      }
    }
    &-accountInfo {
      @include breakpoint-down(small) {
        display: none;
      }
      &-hamburger {
        @include breakpoint-up(medium) {
          display: none;
        }
        cursor: pointer;
        margin-left: 20px;
      }
      > p {
        color: white;
        font-weight: bold;
        > span {
          cursor: pointer;
          text-decoration: underline;
          color: white;
        }
        @include breakpoint-down(small) {
          font-size: 12px;
        }
      }
      position: relative;
      &-menu {
        visibility: hidden;
        transition: all 200ms ease-in-out;
        transform: translateY(20px);
        width: 100%;
        position: absolute;
        top: 30px;
        background-color: white;
        border-radius: 20px;

        &-item {
          padding: 20px 20px;
          display: flex;
          align-items: center;
          gap: 16px;
          flex-direction: column;
          text-align: center;
          > img {
            width: 20px;
          }
          > p {
          }
          > a {
            text-decoration: none;
            color: $darkBlue;
          }
          > a:hover {
            color: $lightBlue;
          }
          .logout {
            cursor: pointer;
            font-weight: bold;
          }
          .logout:hover {
            color: rgb(202, 32, 32);
          }
        }
      }
    }
  }

  &-sidemenu {
    @include breakpoint-up(medium) {
      display: none;
    }
    position: fixed;
    background-color: $lightBlue;
    height: 100vh;
    margin-top: 107vh;
    left: 0;
    border-right: 1px solid $darkBlue;

    transform: translateX(-100%);
    transition: 200ms ease-in-out;

    &-item {
      padding: 0px 20px;
      display: flex;
      gap: 20px;
      margin: 30px 0px;

      align-items: center;

      > img {
        width: 20px;
      }
      > a {
        text-decoration: none;
        color: white;
        font-weight: bold;
      }
      > p {
        color: white;
        font-weight: bold;
      }
    }
  }
}

.show-sidemenu {
  transform: translateX(0%);
}

.show-menu {
  visibility: visible;
  transform: translateY(0px);
}
